<div class="position-relative">
<div class="position-absolute top-0 start-50 translate-middle-x p-4">
<div style="width: 30rem;" class="d-flex me-auto mb-5 mb-lg-0">
    <input style=" border-color: black;" class="form-control me-2" type="search" placeholder="Search" #search="ngModel" [(ngModel)]="seachValue" (input)="onsearchChange()" >
    <button [disabled]="!search.valid"  class="btn btn-outline-dark" type="submit">Search</button>
  </div>
  <div class="p-2" *ngIf="seachValue != ''"><p>Search Value : {{seachValue}}</p></div>
</div>
</div>
    